:root {
  --white: #FFF;
  --light-shadow: #E2E5EC;
  --medium-shadow: #AFAFAF;
  --main-background: #E6E9F1;
  --text-primary: #353535;
  --text-secondary: #193479;
  --text-light: #777777;
  --text-placeholder: #9C9C9C;
  --error: #D51E1E;
  --info: #1A8AD0;
}
